<nav class="navbar navbar-default navbar-static-top doctorola_navbar">
  	<div class="container">
    	<div class="row">
    		<div class="col-md-6">
    			<a style="padding:4px 15px;" href="https://doctorola.com/" class="navbar-brand floating_text">
    				<img src="https://res.cloudinary.com/doctorola/image/upload/v1423549010/logo_et3yab.png" alt="OployeeLabs" style="width: 140px;">
    			</a>
    		</div>
    		<div class="col-md-6">
    			<p class="pull-right ch_p" style="margin: 25px 0;">
    				<span class="header_phone_no header_text floating_text common_header_text">
    					<i class="fa fa-phone"></i>16484
    				</span>
    				<span class="header_time header_text floating_text common_header_text"> 
    					(Everyday 8AM - 10PM)
    				</span>
    			</p>
    		</div>
    	</div>
  	</div>
</nav>
