<footer class="container-fluid footer_div">
	<h1 class="footer_header text-center">Download our free mobile app</h1>	
	<p class="text-center">
		<a href="https://play.google.com/store/apps/details?id=com.doctorola" target="_blank">
			<img class="text-center footer_image" src="./assets/images/google-play.png" alt="google-play" />
		</a>
	</p>
	<div class="row">
		<div class="col-lg-3 col-sm-3"></div>
		<div class="col-lg-6 col-sm-6"><hr/></div>
		<div class="col-lg-3 col-sm-3"></div>
	</div>	
	<p class="text-center footer_social_icon">
		<a href="https://www.facebook.com/doctorolafans/"><i class="fa fa-facebook" aria-hidden="true"></i></a>&nbsp;&nbsp;
		|&nbsp;&nbsp;
		<a href="https://www.linkedin.com/company/doctorola-ltd-"><i class="fa fa-linkedin" aria-hidden="true"></i></a>&nbsp;&nbsp;
		|&nbsp;&nbsp;
		<a href="https://twitter.com/doctorolatwit"><i class="fa fa-twitter" aria-hidden="true"></i></a>
	</p>
	
	<p class="text-center footer_useful_links">
		<a target="_blank" href="https://doctorola.com/about">About us</a> &nbsp;
		|&nbsp;
		<a target="_blank" href="http://blog.doctorola.com">Blog</a>&nbsp;
		| &nbsp;
		<a target="_blank" href="https://doctorola.com/contact">Contact us</a> &nbsp;
		| &nbsp;
		<a href="https://doctorola.com/faq">FAQ</a>
	</p>
	
	<p class="text-center footer_copyright">
		<i class="fa fa-copyright" aria-hidden="true"></i> Doctorola Ltd. All rights reserved.<br />
	</p>
	<p class="text-center footer_copyright">
		Developed by ~ <a style="color: #FFFFFF;" href="http://www.oployeelabs.com"  target="_blank">OployeeLabs Ltd.</a>
	</p>
</footer>
